includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
        - app-modules

    scanDirectories:
        - phpstan

    scanFiles:
        - _ide_helper_models.php

rules:
    - App\PHPStan\ModuleDependencyRule
